.container{
    height : 90px;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: relative;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    background:  repeat-x, #2b0033;
    color: #f5f5f5;
    padding: 1rem 2rem;
    border-bottom: 4px solid #1a001f;
    clip-path: polygon(
    0% 0%, 100% 0%, 100% 85%, 
    95% 90%, 85% 80%, 75% 95%, 
    60% 85%, 45% 95%, 30% 85%, 
    15% 95%, 0% 85%
  );
}


.logo{
    font-size: 30px ;
    font-weight: bold;

}
.username {
    margin-right: 100px;
    font-size: 16px;
    padding-bottom: 2%;
    position: relative;
    padding-left: 250px;
}
