.footer {
    height: 20px;
    width: 100%; 
    display: flex;
    position: fixed;
    bottom: 0; 
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #333; 
    text-align: center;
    color: #f1f1f1;
    padding: 10px 20px; 
}