

.all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    height: calc(-90px + 100vh); 
  }
  
  .leftpart {
    width: 40%;
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 2px solid #ccc;
    text-align: center;
  }
  
  .rightpart {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .section {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .section:last-child {
    border-bottom: none; 
  }
  .title{
    margin-left: 10px;
    color:black;
  }