.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    gap: 20px;
}


.button {
    padding: 20px 40px; /* Bigger buttons */
    font-size: 24px; /* Larger text */
    background-color:#007bff; 
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a hover effect */
}

.button:hover {
    background-color: #005bb5; /* Darken the button color on hover */
    transform: scale(1.05); 
    transition: 0.2s ease-in-out; 

}
