.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:85vh;
}

.wrapper{
    width: 500px;
    background-color: var(--bgSoft);
    padding:50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}