/* Container for the player list */
.playerlist-container {
  max-height: calc(100vh - 150px); /* Adjust the height to account for the space taken by buttons */
  overflow-y: auto; /* Allow the player list to scroll if it exceeds max height */
  padding-bottom: 70px; /* Add space at the bottom to avoid overlap with fixed buttons */
}

/* Player list styling */
.playerlist {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.playerlistelement {
  font-size: 1.5rem;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  color: black;
  align-items: center;
  justify-content: flex-start;
}

/* Fixed button container */
.buttons {
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 100%;
  background-color: white; /* Optional: set background color for the button area */
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Space between buttons */
  border-top: 2px solid #ddd; /* Optional: adds a subtle border to separate the buttons from the list */
}

/* Button styling */
.button {
  background-color: rgb(255, 0, 153);
  color: rgba(255, 255, 255, 0.92);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

/* Fixed position for buttons at the bottom */
.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
